<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Upload Image</h1>
    <form method="POST" action="/uploads" enctype="multipart/form-data">
        <input type="file" name="image1" >
        <input type="file" name="image1" >
        <input type="file" name="image1" >
        <input type="file" name="image1" >
        <input type="submit" >
    </form>

</body>
<script >
    let input = document.querySelectorAll("input[name=image1]")

    input.forEach(el => {
        console.log(el.target);
        el.addEventListener('change',(el)=>{
            console.log(el.target.value);
            console.log(el.target.files[0]);
        })
    });
</script>
</html>